@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-size: large;
}



:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}


footer{
    background-color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gris-oscuro);
}

.footer-section{
    padding: 2rem 3rem;
    text-align: center;
    max-width: 30rem;
    
}

.footer-section .fas{
    font-size: 2em;
    color: var(--celeste);
    padding-bottom: 0.625rem;
}

.footer-section .fas:hover{
    color: #0022AA;
}

.footer-section h2{
    font-size: 16px
}

#copyright{
    font-size: 12px;
    text-decoration: none;
    padding: 1rem 1rem;
    text-align: center;
}


@media (min-width: 361px){      /* tablet */
    
}


@media (min-width: 769px){      /* laptop */
    
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }

}