*{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

main{
    background-color: var(--gris-claro);
}

.main{
    width: 90%;
    margin: auto;
}

.ultima-visita, .ofertas{
    display: flex;
    flex-wrap: wrap;
}

.ofertas{
    padding-bottom: 1rem;
}

.titular{
    font-size: 24px;
    width: 100%;
    margin: 1rem 0; 
}

.producto{
    width: 100%;
    margin-bottom: 10px;
}

.descripcion-producto{
    background-color: white;
    border-top: solid 1px var(--gris-claro);
    position: relative;
    padding: 1rem;
    font-size: 16px;
}

.descripcion-producto i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: var(--verde);
    border: 1px solid var(--verde);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition:
        ease-out transform .5s,
        ease-out right .5s;
}

.producto:hover .descripcion-producto i{
    transform: rotateZ(360deg);
    right: 20px;
}

.precio-y-descuento{
    display: flex;
}

.precio{
    font-size: 18px;
    padding-right: 0.5rem;
/*     color: var(--gris-oscuro);
 */    font-weight: bold;
}

.descuento{
    color: var(--verde);
    font-size: 16px;
}

.nombre-producto{
    display: none;
    font-weight: bold;
    color: var(--gris-oscuro);
}

.producto:hover .nombre-producto{
    display: block;
    padding-top: 1rem;
}


@media (min-width: 361px){      /* tablet */

    .ultima-visita, .ofertas{
        justify-content: space-between;
    }

    .producto{
        width: 45%; 
    }

    .producto:hover{
        box-shadow : 0px 0px 10px rgb(100 , 100 , 100);
    }

    .precio{
        font-size: 1rem;
    }
}


@media (min-width: 769px){      /* laptop */
    .producto{
        width: 23%;
    }
}