*{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

.main{
    background-color: var(--gris-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.formulario-login{
    width: 70%;
    margin: 1rem 0;
}

.campo{
    display: block;
    margin-bottom: 2rem;
    padding-left: 0.75rem;
    width: 100%;
    background-color: white;
    border-radius: 4px;
}

.campo input{
    width: 100%;
    height: 100%;
    padding: 0.75rem 0;
}

.boton-entrar button{
    width: 100%;
    padding: 0.75rem;
    background-color: var(--celeste);
    border-radius: 4px;
    color: white;
}

.boton-entrar:hover button{
    background-color: #0022AA;
    cursor: pointer;
}

input{
    display: block;
}



@media (min-width: 361px){      /* tablet */
    
}


@media (min-width: 769px){      /* laptop */
    
}